<section>
  <h2>Carga de archivo de patrones</h2>
  <mat-divider class="form__divider"></mat-divider>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field>
      <mat-label>Patrones</mat-label>
      <ngx-mat-file-input accept=".csv" formControlName="inputs"></ngx-mat-file-input>
    </mat-form-field>

    <button type="submit" mat-raised-button color="accent">Cargar</button>
  </form>
  <mat-divider class="form__divider"></mat-divider>
  <p>Patrones cargados: {{neuronInput.inputs.length}}</p>
  <p>Entradas: {{neuronInput.inputs[0]?.length}}</p>
  <p>Salidas: {{neuronInput.outputs[0]?.length}}</p>
</section>

<section>
  <h2>Configuración de la red</h2>

  <mat-divider class="form__divider"></mat-divider>

  <form [formGroup]="form" class="form">
    <mat-form-field>
      <mat-label>Tipo de red</mat-label>
      <mat-select formControlName="type">
        <mat-option [value]="'Unicapa'">
          Unicapa
        </mat-option>
        <mat-option [value]="'Multicapa'">
          Multicapa
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="initNeuron()" *ngIf="form.value.type === 'Unicapa'">Iniciar neurona</button>
  </form>

  <mat-divider class="form__divider"></mat-divider>

  <ng-container *ngIf="form.value.type === 'Unicapa'">
    <h3>Pesos y umbrales</h3>
    <p *ngFor="let neuron of layer?.neurons; index as i;">
      Pesos neurona {{i + 1}}:
    <mat-chip-list>
      <mat-chip *ngFor="let weight of neuron.weights">{{weight | number}}</mat-chip>
      <mat-chip> Umbral neurona {{i + 1}}: {{neuron.sill | number}}</mat-chip>
    </mat-chip-list>
    </p>

    <mat-divider class="form__divider"></mat-divider>

    <h3>Función de activación</h3>
    <form [formGroup]="form" class="form">
      <mat-form-field>
        <mat-label>Función de activacion</mat-label>
        <mat-select formControlName="triggerFunction">
          <mat-option [value]="'Escalon'">
            Escalón
          </mat-option>
          <mat-option [value]="'Sigmoide'">
            Sigmoide
          </mat-option>
          <mat-option [value]="'TagenteH'">
            TagenteH
          </mat-option>
          <mat-option [value]="'Lineal'">
            Lineal
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </ng-container>

  <ng-container *ngIf="form.value.type === 'Multicapa'">
    <form [formGroup]="form" class="form">
      <mat-form-field>
        <mat-label>Capas ocultas</mat-label>
        <mat-select formControlName="hiddenLayers">
          <mat-option [value]="1">
            Una
          </mat-option>
          <mat-option [value]="2">
            Dos
          </mat-option>
          <mat-option [value]="3">
            Tres
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div *ngFor="let _ of [].constructor(form.value.hiddenLayers); index as i;">
      <mat-form-field>
        <mat-label>Numero de neurona de la capa {{i + 1}}</mat-label>
        <input matInput [(ngModel)]="layerInputs[i].neuronsNum"/>
      </mat-form-field>

      <mat-form-field style="padding-left: 10px">
        <mat-label>Función de activacion</mat-label>
        <mat-select [(ngModel)]="layerInputs[i].triggerFunction">
          <mat-option [value]="'Sigmoide'">
            Sigmoide
          </mat-option>
          <mat-option [value]="'TagenteH'">
            TagenteH
          </mat-option>
          <mat-option [value]="'Gausiana'">
            Gausiana
          </mat-option>
          <mat-option [value]="'Seno'">
            Seno
          </mat-option>
          <mat-option [value]="'Coseno'">
            Coseno
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <h3>Función de activación capa de salida</h3>
    <form [formGroup]="form" class="form">
      <mat-form-field>
        <mat-label>Función de activacion</mat-label>
        <mat-select formControlName="triggerFunction">
          <mat-option [value]="'Escalon'">
            Escalón
          </mat-option>
          <mat-option [value]="'Sigmoide'">
            Sigmoide
          </mat-option>
          <mat-option [value]="'TagenteH'">
            TagenteH
          </mat-option>
          <mat-option [value]="'Lineal'">
            Lineal
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <button mat-raised-button (click)="initMulticapa()">Iniciar</button>

    <mat-divider class="form__divider"></mat-divider>

    <div *ngFor="let clayer of red?.layers; index as i">
      <span>Capa {{i + 1}}</span>
      <div></div>
      <span *ngFor="let neuron of clayer?.neurons; index as id">
        Pesos neurona {{id + 1}}:
        <mat-chip-list>
        <mat-chip color="primary" *ngFor="let weight of neuron.weights">{{weight | number}}</mat-chip>
          <mat-chip color="warn">Umbral neurona {{id + 1}}: {{neuron.sill | number}}</mat-chip>
      </mat-chip-list>

      </span>
    </div>

  </ng-container>


  <ng-container *ngIf="layer !== undefined || red !== undefined">
    <button mat-raised-button (click)="saveNeuron()">Descargar neurona</button>
  </ng-container>
</section>
