/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 5rem; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding-left: 7rem;
  padding-right: 7rem;
  margin-top: 3rem;
  gap: 1rem;
}

.detail-card {
  margin: 30px;
}

.form__divider {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
